{% extends "base.html" %}
{% load static %}
<title>{% block title %} Product Details {% endblock title %}</title>


{% block content %}

<div class="container" style="margin-bottom:200px;">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
                <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{ product.product_image.url }}">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <h5 class="mb-0 h4">Product: {{ product.name|title }}</h5>
                <p>Brand: <span class="lead">{{ product.brand_name|title }}</span></p>
                <p>Description: {{ product.product_description|slice:":355" }}.</p>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6">Price</div>
                            <div class="col-6 text-end"><span class="h4 fw-bold">${{ product.price }}</span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
                                <label for="select">Qty</label>
                                <select id="select">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                </select>

                            </div>
                            <div class="col-6 text-end">
                                <button type="button" class="btn btn-secondary btn-sm" id="add-product" value="{{ product.id }}">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="cart-cont">
        <a href="{% url 'cart_summary' %}"><i class="fas fa-shopping-cart">0</i>
    </div>
</div>

<div>
    
    <script>
        $(document).on('click', '#add-product', function(e){
            e.preventDefault()
            //console.log($('#add-product').val())
            $.ajax({
                type:'POST',
                url: '{% url "add_to_cart" %}',
                data : {
                    productid: $('#add-product').val(),
                    csrfmiddlewaretoken: "{{csrf_token}}" ,
                    action : 'post',
                },
                success: function(json){
                    console.log(json)
                },
                error: function(response){
                    console.log(response)
                },
            });
        }) 
    </script>
    
</div>
{% endblock %}