body{
    background-image: url('../media/ghost logo.png');
}
    
/* Register Form Styling */
.registration-form {
    width: 480px;
}
.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url("ghost\ logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: deepskyblue;
}
.registration-form form {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    background: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-radius: 10px;
}
.registration-form h2 {
    margin: 0 0 35px;
    text-align: center;
    font-family: "Viga";
    font-size: 4.5rem;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 4px;
}
.btn {        
    font-size: 15px; 
    font-weight: bold;
}

/* Login form styling */
.login-form {
    width: 440px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 60px;
    margin-top: 30%;
}
.login-form h2 {
    margin: 0 0 35px
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
