*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background: rgb(179, 236, 255);
}

:root{
    font-family: sans-serif;
    --blue-background:rgb(79, 211, 255);
}

button{
    background-color: rgb(56, 56, 56);
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px 0px #000000; 
    box-shadow: 2px 2px 2px 0px #000000; 
}

button:active{
    transform: translate(1px,1px);
    box-shadow: none;
  }

  button:hover{
      background-color: var(--blue-background);
      border: none;
  }


header{
    width: 100%;
    background-color: var(--blue-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
}

nav{
    width: 100%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    
}

.logo{
    color: white;
    font-size: 2.5rem;
    flex: 1.1;
}

.logo img{
    width: 250px;
}


ul{
   display: flex;
   align-items: center; 
   flex: 2;
   height: 50px;
}

li{
    list-style: none;
}

li a{
    font-size: 1.2rem;
    font-family: sans-serif;
    text-decoration: none;
}

.nav-products li{
    margin: 0 20px;
    color: rgb(56, 56, 56);
    font-weight: 700;
}

.nav-products li:hover{
border-bottom: solid 3px black;
}


/*DROP DOWN SETTINGS*/

.drop-down{
    margin-right: 80px;
    padding-top: 13px;
    height: 50px;
}

.drop-down h3{
    font-family: sans-serif;
    position: relative;
}



.drop-down:hover ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    margin-top: 10px;
    z-index: 2;
    list-style: none;
    background-color: rgb(56, 56, 56);
    border-radius:10px;
    border: solid 1px rgb(163, 163, 163);
    height: 130px;
    width: 150px;
    padding: 10px;
    
}

.drop-down  ul{
    display: none;
}

.drop-down li{
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
}


.drop-down li a{
    color: white;
    font-size: 16px;
}

.drop-down li:hover{
    border-bottom: solid 1px white;
}

/*BUTTONS*/

.log-in{
    padding: 6px 20px;
    margin-right: 20px;
    font-size: 17px;
       
}



.log-in a{
   color: white;
   text-decoration: none;
}

/*MAIN IMAGES SLIDER*/

.slider-cont{
    height: 650px;
    width: 100%;
    background: white;
    position: relative;
    overflow: visible;
}

.slider-cont .slides{
    display: flex;
    width: 100%;
    height: 100%;
    background-color:white;
}

.slider-cont .slides .slide{
    height: 100%;
}



.left-btn{
 height:100px;
 width: 40px;
 background: rgba(128, 128, 128, 0.575);
 left: 0;
 top: 50%;
 position: absolute;
 bottom: 50%;
 transform: translate(0%,-50%);
 padding: 20px 0;
}

.left-btn::after{
    content: '<';
    font-size: 50px;
    color: white;
    
}

.right-btn{
    height:100px;
    width: 40px;
    background: rgba(128, 128, 128, 0.575);
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 50%;
    transform: translate(0%,-50%);
    padding: 20px 0px 0px 10px;
   }

.right-btn::after{
    content: '>';
    font-size: 50px;
    color: white;
    margin-top:10px;
}
   

/*SALE PRODUCTS*/

.featured-cont{
    background-image: url('../images/ghostsBackground.jpeg');
    
    
}

.sales-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 0;
    font-size: 2.5rem;
    background: rgba(79, 211, 255, 0.863);
}

.sales-cont{
    display: grid;
    background:rgba(79, 211, 255, 0.609);
    grid-template-areas: 
    "sale sale sale"
    ;
    height:500px ;
    justify-content: space-evenly;
    box-shadow: 3px 2px 3px 0px rgba(128, 128, 128, 0.75);
    -webkit-box-shadow: 3px 2px 3px 0px rgba(128, 128, 128, 0.75);
    -moz-box-shadow: 3px 2px 3px 0px rgba(128, 128, 128, 0.75);
}

.sales-cont .sale{
    width: 600px;
    height: 400px;
    background-color: white;
    font-size: 30px;
    color: black;
    display: grid;
    grid-template-columns: 300px 300px;
}

.sales-cont .sale .img-cont{
    width: 100%;
    background-color: grey;
    color: white;
}

.sales-cont .sale .item-description{
    padding:30px 0px 0px 10px;
   
}


.sales-cont .sale .item-description h5{
  margin-bottom: 20px;
}

.sales-cont .sale .item-description .description{
    font-size: 20px;
  }
  


.sales-cont .sale .price-cont{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 80px;
}

.sales-cont .sale .price-cont .orig-price{
    text-decoration:line-through;
   
}

.sales-cont .sale .btn-cont{
    width: 100%;
    display:flex;
    justify-content: end;
}

.sales-cont .sale .btn-cont .btn{
   margin-right: 40px;
   padding: 6px 20px;
   border-radius: 5px;
   border: none;
   outline:none;
}

/*MAIN PRODUCT CONTAINER*/
.product-container{
    width: 95%;
    margin: 30px auto;
    padding: 40px 0px;
    background: transparent;
    display: grid;
    grid-template-areas:
    "product product"
    ;
    place-content: center;
    gap:40px;
}

.product-container .product{
    width: 830px;
    height: 500px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-container .product .img-cont{
    background:grey;
    color: white;
    font-size: 30px;
}

.product-container .product .item-description {
  padding: 30px 0px 30px 20px;
}

.product-container .product .item-description h5{
    font-size: 30px;
    margin-bottom: 40px;
}

.product-container .product .item-description .description{
    font-size: 23px;
}

.product-container .product .item-description .price-cont{
    font-size: 23px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}


.product-container .product .item-description .btn-cont{
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 60px;
  padding: 0 50px;
}


.product-container .product .item-description .btn-cont .btn{
    padding: 6px 20px;
  }


/*PRODUCT ADVERTIZEMENT*/

.productadd-wrap{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.productadd-wrap .product-cont{
    width: 100%;
    height: 100%;
    background-image: url("../images/fitbit.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.productadd-wrap .productadd-header{
    font-size: 1.5rem;
    width: 100%;
}


.productadd-wrap .productadd-header h1,p{
  text-align: center;
  padding-bottom: 30px;
  
}

/*FOOTER*/
.footer-wrap{
    background: var(--blue-background);
    padding: 40px;
    display: flex;
}


.footer-logo img {
    height: 100px;
    width: 300px;
    margin-right: 50px;
}

.footer-wrap .table-cont ul{
    display: flex;
    flex-direction: column;
    align-items:flex-start;

}

.footer-wrap .table-cont ul li{
    margin-bottom: 15px;

}

/*REGISTER FORM***************/
.registration-form {
    width: 480px;
}
.register-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url("ghost\ logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: deepskyblue;
}
.registration-form form {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    background: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-radius: 10px;
}
.registration-form h2 {
    margin: 0 0 35px;
    text-align: center;
    font-family: "Viga";
    font-size: 4.5rem;
}
.form-control, .register-btn {
    min-height: 38px;
    border-radius: 4px;
}
.register-btn {        
    font-size: 15px; 
    font-weight: bold;
}



/*CART*/
/*CART CONTAINER*/

.cart-wrap{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-wrap h1{
    font-size: 2.09rem;
    padding: 30px 10px;
}

.cart-wrap .product-card{
    width: 90%;
    background:white;
}

.cart-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: rgb(79, 211, 255);
    padding: 20px;
    font-weight: 700;
    font-size: 1.2rem;
}

.product-card{
    max-width: 1400px;
    
}


.product-card .product-cont{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 9px;
}

.product-cont .product {
    display: flex;
}

.product-cont .product .img-cont{
    height: 90px;
    width: 90px;
    margin-right: 30px;
    background: grey;
}


.product-cont .product .img-cont{
    height: 90px;
    width: 90px;
    margin-right: 30px;
    background: grey;
}


.product-cont .product .descrip-price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 700;
}

.product-cont .product .descrip{
  font-size: 18px;
  text-decoration: underline;
}

.product-cont .product .remove-btn{
    color: red;
    cursor: pointer;
}

/*SUBTOTAL CONTENT*/

.subtotal-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.subtotal-cont{
    width: 40%;
    margin: 10px;
}

.sub-cont,.shipping-cont,.total-cont{
    display: flex;
    justify-content: space-between;
}

.sub-cont p,.shipping-cont p,.total-cont p{
    font-weight: 600;
    margin-bottom: 15px;
}

.subtotal-cont .btn{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 6px 15px;
    
}

.cart-cont{
     position: fixed;
     height: 60px;
     width: 60px;
     background: deepskyblue;
     display: flex;
     align-items: center;
     justify-content: center;
     right: 50px;
     bottom: 60px;
     border: solid 1.5px white;
     border-radius: 35px;
     color: white;
     font-size: 24px;
}

.cart-cont a{
    color: white;
}

/*LOG IN PAGE***********************************/

.login-form {
    width: 450px;
 margin: 50px auto;
}

.login-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url("../images/ghost.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: deepskyblue;
}

.login-form form {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 50px;
    background: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-radius: 10px;
    margin-top: 30px;
}

.login-form h2 {
    margin: 0 0 35px
}


.loginput-input{
    width: 100%;
    
}

.log-input{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.log-in-btn .btn {        
    font-size: 15px;
    margin: 10px 0px 15px 0;
    font-weight: bold;
    padding: 10px 80px;
}

.log-in-btn{
    width: 100%;
    text-align: center;
}

.text-center {
    margin-top: 10px;
    font-size: 20px;
}

.text-center a{
    text-decoration: none;
}

.text-center a:hover{
    text-decoration: underline;
}

.header-text{
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.forgot-pass{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    
}

/*****USER PROFILE*****************************/


.form-wrap{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    background: rgba(57, 200, 243, 0.295);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-radius: 10px;
    width: 600px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
}

.form-control .first-column{
    width: 100%;
}

.form-control .profile-img{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


.form-control .second-column{
    width: 100%;
}

.form-control .input {
    padding: 5px 10px;
}

.form-control .input input{
    border: none;
    border-radius: 5px;
    padding: 7px;
    width:100%;
    margin-top: 5px;
    background: white;
}

.btn-cont{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.btn-cont .profile-btn{
    padding: 10px 30px;
}








/*MEDIA QUERIES********************************/


/*INDEX MEDIA QUERIES*************/

@media screen and (max-width:1000px) {
    body{
        
    }

    .nav-products {
        display: none;
    }

    .drop-down{
        display: none;
    }

    .log-in {
        display: none;
    }


}