{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login Form</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static './css/style.css' %}">  
</head>
<body>
<div class="login-wrap">
    <div class="login-form">
        {% include 'accounts/messages.html' %}
        <form action="{% url 'accounts:user-login' %}" method="post">
            {% csrf_token %}
            <h2 class="header-text">Login</h2>       
            <div class="loginput-cont">
                <input type="text" class="log-input" name="username" placeholder="Username" required="required">
            </div>
            <div class="loginput-cont">
                 <input type="password" class="log-input" name="password" placeholder="Password" required="required">
            </div>
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}">
            {% endif %}
            <div class="log-in-btn">
                <button type="submit" value="login" class="btn">Login</button>
            </div>
            <div class="forgot-pass">
                <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                <a href="{% url 'accounts:password_reset' %}" class="pull-right">Forgot Password?</a>
            </div>        
        </form>
        <p class="text-center"><a href="{% url 'accounts:user-registration' %}">Create an Account</a></p>
    </div>

    
    <script src="{% static '/js/main.js' %}"></script>
</body>
</html>                                		