{% extends 'base.html' %}
<title>{% block title %} Login Form {% endblock title %}</title>



{% block content %}
    <div class="login-form">
        <form action="{% url 'accounts:user-login' %}" method="post">
            {% csrf_token %}
            <h2 class="text-center">Login</h2>       
            <div class="form-group">
                <label for="name">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username" required="required">
               
            </div>
            <div class="form-group">
                <label for="name">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                
            </div>
            <div class="form-group">
                <button type="submit" value="login" class="btn btn-primary btn-block">Login</button>
            </div>
            <div class="clearfix">
                <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                <a href="{% url 'accounts:password_reset' %}" class="pull-right">Forgot Password?</a>
            </div>        
        </form>
        <p class="text-center"><a href="{% url 'accounts:user-registration' %}">Create an Account</a></p>
    </div>

    <div>
        {% for message in messages %}
            <h3>{{ messages }}</h3>
        {% endfor %}
    </div>
{% endblock content %}
