{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block head_title %}Password reset link sent{% endblock head_title %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static '/css/style.css' %}">  
    </head>


    <body>
            <div class="login-wrap">
                  <div class="login-form">
                        <div class="">
                              <h2>Reset Password</h2>
                              <h3>Hurray! Your password has been changed.</h3>
                              <a href="{% url 'accounts:user-login' %}">Click here to Login</a> 
                        </div>
                  </div>
            </div>
        <script src="{% static '/js/main.js' %}"></script>
    </body>
</html>                                		








 
                          		

