{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login Form</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static './css/style.css' %}">  
</head>
<body>
<div class="login-wrap">
    <div class="login-form" style="text-align:center;">
        
        <form action="{% url 'accounts:password_reset' %}" method="post">
            {% csrf_token %}
            <h2 class="header-text">Reset Password</h2>
            <div class="loginput-cont">
                {{form.as_p}}
            </div> 
            <input style="font-size:18px;" type="submit" value="Submit" class="btn btn-primary">   
        </form>
       
    </div>
    <script src="{% static '/js/main.js' %}"></script>
</body>
</html>                                		