{% extends 'base.html' %}
{%load static%}




{% block content %}
    <div class="">
        <h2>User Profile</h2>
        <h3>Hello {{ user.username|title }},</h3>
        <p>Username:{{ user.username }}</p>
        <p>First name:{{ user.first_name }} </p>
        <p>Last Name: {{ user.last_name }}</p>
        <p>Email:{{ user.email }} </p>
        
        <a href="{% url 'product_list' %}">Back</a>
        <div>
            <button><a href="{% url 'accounts:user_profile' %}"> Update Profile </a></button> 
        </div>
    
    </div>
{% endblock %}