{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Cart</title>
</head>
<body>
    <header>
       
    </header>
    <main class="cart-wrap">
        <h1>Your Items</h1>
        <div class="product-card">
            <div class="cart-header">
                <p>Product</p>
                <p>Qantity</p>
                <p>Subtotal</p>
            </div>
            <div class="product-wrap">
                
                 <div class="product-cont">
                    <div class="product">
                        <div class="img-cont">
                            <img src="" alt="">
                         </div>
                        <div class="descrip-price">
                            <p class="descrip">
                                Lorem ipsum dolor sit
                            </p>
                            <p class="price">Price:$15</p>
                            <p class="remove-btn">Remove</p>
                        </div>
                    </div>
                    <div class="quantity">
                        <input type="number" id="quantity" name="quantity" min="1" max="99">
                    </div>
                    <div class="subtotal">
                        <p class="subtotal-numb">
                             $15
                        </p>
                    </div>
                 </div>
            </div>
            <div class="subtotal-wrap">
                <div class="subtotal-cont">
                    <div class="sub-cont">
                        <p>Subtotal:</p>
                        <p class="Subtotal">$00</p>
                    </div>
                    <div class="shipping-cont">
                        <p>Shipping:</p>
                        <p class="Delivery-price">$00</p>
                    </div>
                    <div class="total-cont">
                        <p>Total:</p>
                        <p class="Total">$00</p>
                    </div>
                    <button class="btn">
                        Proceed to checkout
                    </button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>