{% extends 'base.html' %}
<title>{% block head_title %} Cart Summary {% endblock head_title %}</title>


{% block content %}
    <section class="product-container">
        <div class="product">
            <div class="img-cont">Product</div>
            <div class="item-description">
                <h5>Product Name</h5>
                <div class="description">
                    Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Omnis, fuga?
                </div>
                <div class="price-cont">
                    <div class="disc-price">$15.00</div>
                </div>
                <div class="btn-cont">
                    <button class="btn">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="img-cont">Product</div>
            <div class="item-description">
                <h5>Product Name</h5>
                <div class="description">
                    Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Omnis, fuga?
                </div>
                <div class="price-cont">
                    <div class="disc-price">$15.00</div>
                </div>
                <div class="btn-cont">
                    <button class="btn">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="img-cont">Product</div>
            <div class="item-description">
                <h5>Product Name</h5>
                <div class="description">
                    Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Omnis, fuga?
                </div>
                <div class="price-cont">
                    <div class="disc-price">$15.00</div>
                </div>
                <div class="btn-cont">
                    <button class="btn">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="img-cont">Product</div>
            <div class="item-description">
                <h5>Product Name</h5>
                <div class="description">
                    Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Omnis, fuga?
                </div>
                <div class="price-cont">
                    <div class="disc-price">$15.00</div>
                </div>
                <div class="btn-cont">
                    <button class="btn">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="img-cont">Product</div>
            <div class="item-description">
                <h5>Product Name</h5>
                <div class="description">
                    Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Omnis, fuga?
                </div>
                <div class="price-cont">
                    <div class="disc-price">$15.00</div>
                </div>
                <div class="btn-cont">
                    <button class="btn">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="img-cont">Product</div>
            <div class="item-description">
                <h5>Product Name</h5>
                <div class="description">
                    Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Omnis, fuga?
                </div>
                <div class="price-cont">
                    <div class="disc-price">$15.00</div>
                </div>
                <div class="btn-cont">
                    <button class="btn">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="img-cont">Product</div>
            <div class="item-description">
                <h5>Product Name</h5>
                <div class="description">
                    Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Omnis, fuga?
                </div>
                <div class="price-cont">
                    <div class="disc-price">$15.00</div>
                </div>
                <div class="btn-cont">
                    <button class="btn">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="img-cont">Product</div>
            <div class="item-description">
                <h5>Product Name</h5>
                <div class="description">
                    Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Omnis, fuga?
                </div>
                <div class="price-cont">
                    <div class="disc-price">$15.00</div>
                </div>
                <div class="btn-cont">
                    <button class="btn">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="cart-cont">
            <a href="{% url 'cart_view' %}"><i class="fas fa-shopping-cart"></i>
        </div>
{% endblock content %}