<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Electronics.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Electronics</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
               <a href="/html/index.html"><img src="/images/ghost.png" alt="Company logo of a ghost"></a> 
            </div>
            <ul class="nav-products">
                <li>Electronics</li>
                <li>Athletic Apparel</li>
                <li>Bicycles</li>
                <li>Athletic drinks</li>
            </ul>
            <div class="drop-down">
                <h3>Settings</h3>
                <ul>
                 <li>User Profile</li>
                 <li>Settings</li>
                 <li>Other</li>
                </ul>
            </div>
            <button class="log-in btn"><a href="#">Log in</a></button>
        </nav>
    </header>
    <section class="product-container">
        <div class="product">
            <div class="img-cont">Product</div>
            <div class="item-description">
                <h5>Product Name</h5>
                <div class="description">
                    Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Omnis, fuga?
                </div>
                <div class="price-cont">
                    <div class="disc-price">$15.00</div>
                </div>
                <div class="btn-cont">
                    <button class="btn">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="img-cont">Product</div>
            <div class="item-description">
                <h5>Product Name</h5>
                <div class="description">
                    Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Omnis, fuga?
                </div>
                <div class="price-cont">
                    <div class="disc-price">$15.00</div>
                </div>
                <div class="btn-cont">
                    <button class="btn">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="img-cont">Product</div>
            <div class="item-description">
                <h5>Product Name</h5>
                <div class="description">
                    Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Omnis, fuga?
                </div>
                <div class="price-cont">
                    <div class="disc-price">$15.00</div>
                </div>
                <div class="btn-cont">
                    <button class="btn">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="img-cont">Product</div>
            <div class="item-description">
                <h5>Product Name</h5>
                <div class="description">
                    Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Omnis, fuga?
                </div>
                <div class="price-cont">
                    <div class="disc-price">$15.00</div>
                </div>
                <div class="btn-cont">
                    <button class="btn">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="img-cont">Product</div>
            <div class="item-description">
                <h5>Product Name</h5>
                <div class="description">
                    Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Omnis, fuga?
                </div>
                <div class="price-cont">
                    <div class="disc-price">$15.00</div>
                </div>
                <div class="btn-cont">
                    <button class="btn">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="img-cont">Product</div>
            <div class="item-description">
                <h5>Product Name</h5>
                <div class="description">
                    Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Omnis, fuga?
                </div>
                <div class="price-cont">
                    <div class="disc-price">$15.00</div>
                </div>
                <div class="btn-cont">
                    <button class="btn">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="img-cont">Product</div>
            <div class="item-description">
                <h5>Product Name</h5>
                <div class="description">
                    Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Omnis, fuga?
                </div>
                <div class="price-cont">
                    <div class="disc-price">$15.00</div>
                </div>
                <div class="btn-cont">
                    <button class="btn">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="product">
            <div class="img-cont">Product</div>
            <div class="item-description">
                <h5>Product Name</h5>
                <div class="description">
                    Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Omnis, fuga?
                </div>
                <div class="price-cont">
                    <div class="disc-price">$15.00</div>
                </div>
                <div class="btn-cont">
                    <button class="btn">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="cart-cont">
            <a href="/html/cart.html"><i class="fas fa-shopping-cart"></i>
        </div>
</body>
</html>